.container{
    width: 1550px;
height: 65px;
 display: flex;
 gap: 50px;
    margin-left: 100px;
}
.img-content{
    display: flex;

}
#img-1{
    width: 31px;
    height: 40px;
}
.table{
    width: 662px;
    height: 30px;
    border-radius: 10px;
    border : 2px solid #334155 ;
    margin-top: 5px;
    display: flex;
    align-items: center;
}
#search{
    width: 20px;
    height: 20px;
}
.hearder{
    display: flex;
    align-items: center;
    margin-left: 5px;
}
.hearder p{
    color: #334155;
}
.ion p {
    width: 110px;
height: 20px;
}
.traitim img{
    width: 20px;
    height: 18px;
    margin-top: 15px;
}
.shoppe img{
    width: 24px;
    height: 24px;
margin-top: 10px;
}
.chuongbao img{
    width: 17px;
    height: 20px;
    margin-top: 15px;
}
.giaodien{
    width: 40px;
    height: 40px;
    border-radius: 100px;
    background-color: #64748B;
    color: white;
    justify-content: center;
    align-items: center;
    display: flex

}
.ngang{
    width: 1550px;
    border: 1px solid #E2E8F0;
}
.shopping{
    width: 536px;
height: 42px;
gap: 40px;
display: flex;
justify-content: center;
align-items: center;
margin-top: 40px;
margin-left: 80px;
}
#cart{
    color: #2563EB;
}
.course p{
    margin-top: 30px;
    margin-left: 80px;
color: #334155;
}
.introduction{
    width: 880px;
height: 140px;
border-radius: 8px;
border-width: 1px;
opacity: 1;

}
.anhdep img  {
    width: 192px;
height: 108px;
border-radius: 4px;
opacity: 1;

}
.intruduction{
    display: flex;
    margin-top: 46px;
    margin-left: 80px;
    width: 880px;
height: 140px;



}
.User{
      line-height: 5px;
      margin-top: -12px;
      margin-left: 8px;
}
.katy{
    align-items: center;
    display: flex;
    margin-top: -15px;
}
#starts{
    width: 96px;
height: 19px;
opacity: 1;
align-items: center;
}
.yellows{
    color:#FEC84B;
}
.text2{
    display: flex;
    gap: 20px;
    margin-top: -15px;
}
.save{
    color: #3B82F6;
}
.remove{
    color: #DC2626;
}
.oders{
    margin-left: 1070px;
    margin-top: -580px;
}
.oder2{
    width: 330px;
height: 213px;
border-width: 1px;
opacity: 1;
border-radius: 8px;
background-color: #E2E8F0;
}
.oder3{
    width: 298px;
height: 29px;
margin-top: 16px;
margin-left: 16px;
display:flex ;
gap: 200px;
}
.oder4{
      width: 298px;
height: 29px;
margin-top: 16px;
margin-left: 16px;
display:flex ;
gap: 170px;
}
.oder5{
    width: 298px;
height: 29px;
margin-top: 16px;
margin-left: 16px;
display:flex ;
gap: 210px;
}
.oder6{
     width: 298px;
height: 29px;
margin-top: 16px;
margin-left: 16px;
display:flex ;
gap: 160px;
font-size: 20px;
font-style: Semi Bold;
}
#btn{
    width: 330px;
height: 48px;
background-color: #020617;
color: white;
border-radius: 10px;
margin-top: 20px;
}
.Byway{
    width: 1600px;
height: 400px;
opacity: 1;
background-color: #1E293B;
color: white;
margin-top: 400px;
}
.Programs{
    width: 1280px;
height: 183px;
opacity: 1;
display: flex;
justify-content: space-between;
}

.education img{
   width: 111px;
height: 40px;
margin-top: 80px;
margin-left: 90px;
}
.education p{
    font-size: 30px;
}
.Empowering{
    width: 416px;
height: 105px;
opacity: 1;
color: #CBD5E1;
margin-top: 50px;
margin-left: 90px;
Font:Inter;

}
.Empowering p{
    font-size: 16px;
}
.Get-help{
    margin-top: 80px;
}
.Design{
    margin-top: 80px;
}
.contact-us{
    margin-top: 80px;
}
.contact-us img{
    width: 296px;
height: 40px;
opacity: 1;

}