body {
    font-family: Arial, sans-serif;
    background: #fff;
    margin: 0;
    padding: 0;
    color: #333;
}

.container1 {
    width: 85%;
    margin: auto;
}
.container{
    width: 1550px;
height: 65px;
 display: flex;
 gap: 50px;
    margin-left: 100px;
}
.img-content{
    display: flex;

}
#img-1{
    width: 31px;
    height: 40px;
}
.table{
    width: 662px;
    height: 30px;
    border-radius: 10px;
    border : 2px solid #334155 ;
    margin-top: 5px;
    display: flex;
    align-items: center;
}
#search{
    width: 20px;
    height: 20px;
}
.hearder{
    display: flex;
    align-items: center;
    margin-left: 5px;
}
.hearder p{
    color: #334155;
}
.ion p {
    width: 110px;
height: 20px;
}
.traitim img{
    width: 20px;
    height: 18px;
    margin-top: 15px;
}
.shoppe img{
    width: 24px;
    height: 24px;
margin-top: 10px;
}
.chuongbao img{
    width: 17px;
    height: 20px;
    margin-top: 15px;
}
.giaodien{
    width: 40px;
    height: 40px;
    border-radius: 100px;
    background-color: #64748B;
    color: white;
    justify-content: center;
    align-items: center;
    display: flex

}
.container1{
    width: 1600px;
height: 441px;
background-color: #F8FAFC;
line-height: 30px;
margin-left: 10px;
}
.home{
    margin-left: 80px;
}
.subtitle{
    width: 500px;
height: 78px;
opacity: 1;

}
.breadcrumb span{
    color: #2563EB;
}
.breadcrumb{
    margin-top: 80px;
    gap: 20px;
}
.rating {
    margin-top: 30px;
    font-size: 14px;
    color: #444;}
.creta{
    display: flex;
    align-items: center;
}   
.creta img {
    width: 40px;
height: 40px;
}
.creta p{
    margin-left: 10px;
    margin-top:50px;
}
#Ronal{
   color:  #2563EB;
  margin-left: 5px;
}
.cart{
    width: 400px;
height: 588px;
opacity: 1;
top: 90px;
left: 960px;
border-radius: 16px;
border-width: 1px;
border: 1px solid #E2E8F0;
margin-left: 800px;
margin-top: -400px;
}
.car1{
margin-top: 25px;
margin-left: 23px;
}
.money{
    display: flex;
    align-items: center;
    gap: 13px;
}
.money p {
    color: #94A3B8;
}
#off{
    color: #16A34A;
}
#btn1{
    background-color: #020617;
    color: white;
    width: 352px;
height: 48px;
border-radius: 8px;
padding-top: 10px;
padding-right: 24px;
padding-bottom: 10px;
padding-left: 24px;

}
#btn{
    width: 352px;
height: 48px;
opacity: 1;
gap: 6px;
border-radius: 8px;
border-width: 1px;
padding-top: 10px;
padding-right: 24px;
padding-bottom: 10px;
padding-left: 24px;
margin-top: 10px;
}
.ngang{
    width: 370px;
    border: 1px solid #E2E8F0;
    margin-top: 30px;
    margin-left: 13px;
}
.share h4{
    margin-left: 22px;
}
.share img{
    width: 304px;
height: 48px;
margin-left: 22px;
}
.world{
    display: flex;
    align-items: center;
    gap: 10px;
}
.world img{
    width: 24px;
    height: 24px;
}
.Description{
width: 1442px;
height: 1952px;
opacity: 1;
margin-top: 146px;
 margin-left: 80px;
gap: 24px;

}
