.container{
    width: 1550px;
height: 65px;
 display: flex;
 gap: 50px;
    margin-left: 100px;
}
.img-content{
    display: flex;

}
#img-1{
    width: 31px;
    height: 40px;
}
.table{
    width: 662px;
    height: 30px;
    border-radius: 10px;
    border : 2px solid #334155 ;
    margin-top: 5px;
    display: flex;
    align-items: center;
}
#search{
    width: 20px;
    height: 20px;
}
.hearder{
    display: flex;
    align-items: center;
    margin-left: 5px;
}
.ion p {
    width: 110px;
height: 20px;


}
.join-in{
    display: flex;
    justify-content: center;
    gap: 20px;
}
#shoppe{
    width: 24px;
    height: 24px;
    margin-top: 10px;
}
#btn1{
    width: 73px;
    height: 40px;
    border-radius: 5px;
}
#btn2{
     width: 73px;
    height: 40px;
    background-color: #334155;
    color: white;
    border-radius: 5px;
}
.picture img{
    width: 682px;
height: 900px;
opacity: 1;

}
.walk{
    display: flex;
}
.Create{
   width: 692px;
height: 706px;
opacity: 1;
margin-top: 159px;
margin-left: 200px;
border-width: 1px;
}
.account h1{
    margin-left: 100px;
}
.first-name{
    margin-left:-120px;
}
.fisrt{
    display: flex;
}
.first1{
    width: 330px;
height: 20px;
border: 1px solid#E2E8F0;
border-radius: 10px;
padding: 16px;
gap: 8px;
display: flex;
opacity: 0px;
}
input {
    width: 300px;
    border: none;
    outline: none;
    height: 30px;
    font-size: 15px;
    margin-top: -3px;
    
    
}
.mask{
        -webkit-text-security: disc;   

}
#searchBox{
    height: 10px;
}


.last{
    width: 300px;
height: 20px;
border: 1px solid#E2E8F0;
border-radius: 10px;
padding: 16px;
gap: 8px;
display: flex;
margin-left: 10px;
}
.fisrt p{
margin-top: -1px;
color: #94A3B8;
}
.Use{
      margin-left:-120px;
}
.Use-name{
      width: 680px;
height: 20px;
border: 1px solid#E2E8F0;
border-radius: 10px;
gap: 8px;
display: flex;
padding: 16px;

}
.Use-name p{
    margin-top: -1px;
    color: #94A3B8;
}
.Email{
      margin-left:-120px;
}
.ID{
      width: 680px;
height: 20px;
border: 1px solid#E2E8F0;
border-radius: 10px;
gap: 8px;
display: flex;
padding: 16px;

}
.ID p{
    margin-top: -1px;
    color: #94A3B8;
}
.pass{
    display: flex;
}
#pass1{
          margin-left:-120px;

}
#pass2{
          margin-left:310px;

}
.Enter{

            width: 300px;
height: 20px;
border: 1px solid#E2E8F0;
border-radius: 10px;
gap: 8px;
display: flex;
padding: 16px;
margin-left: -120px;
}
.Confirm{
         width: 320px;
height: 20px;
border: 1px solid#E2E8F0;
border-radius: 10px;
gap: 8px;
display: flex;
padding: 16px;
margin-left: 30px ;
}
#btn3{
    width: 183px;
height: 48px;
opacity: 1;
border-radius: 8px;
gap: 6px;
padding-top: 10px;
padding-right: 24px;
padding-bottom: 10px;
padding-left: 24px;
color: white;
background-color:#020617;
justify-content: center;
display: flex;
align-items: center;
}
#img{
    width: 15px;
height: 15px;
}
.search{
    margin-top: 24px;
    margin-left: -120px;
}

 .divider {
  display: flex;
  align-items: center;
  text-align: center;
  color: #9aa3b3; 
  margin-left: -120px;
  margin-top: 35px;
}

.divider::before,
.divider::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #c0c7d1; 
}

.divider:not(:empty)::before {
  margin-right: 0.75em;
}

.divider:not(:empty)::after {
  margin-left: 0.75em;
}
.facebook{
    width: 220px;
height: 50px;
opacity: 1;
border-radius: 8px;
border: 1px solid #B2B5C4;
display: flex;
align-items: center;
justify-content: center;
margin-left: -120px;
margin-top: 24px;
}
.social-network{
    display: flex;
}
.facebook img{
    width: 98px;
height: 24px;
}
.google{
      width: 220px;
height: 50px;
opacity: 1;
border-radius: 8px;
border: 1px solid #B2B5C4;
display: flex;
align-items: center;
justify-content: center;
margin-left: 30px;
margin-top: 24px;
}
.google img{
     width: 98px;
height: 24px;
}
.Microsoft{
      width: 220px;
height: 50px;
opacity: 1;
border-radius: 8px;
border: 1px solid #B2B5C4;
display: flex;
align-items: center;
justify-content: center;
margin-left: 30px;
margin-top: 24px;
}
.Microsoft img{
    width: 98px;
height: 24px;
}