.container{
    width: 1550px;
height: 65px;
 display: flex;
 gap: 50px;
    margin-left: 100px;
}
.img-content{
    display: flex;

}
#img-1{
    width: 31px;
    height: 40px;
}
.table{
    width: 662px;
    height: 30px;
    border-radius: 10px;
    border : 2px solid #334155 ;
    margin-top: 5px;
    display: flex;
    align-items: center;
}
#search{
    width: 20px;
    height: 20px;
}
.hearder{
    display: flex;
    align-items: center;
    margin-left: 5px;
}
.hearder p{
    color: #334155;
}
.ion p {
    width: 110px;
height: 20px;


}
.join-in{
    display: flex;
    justify-content: center;
    gap: 20px;
}
#shoppe{
    width: 24px;
    height: 24px;
    margin-top: 10px;
}
#btn1{
    width: 73px;
    height: 40px;
    border-radius: 5px;
}
#btn2{
     width: 73px;
    height: 40px;
    background-color: #334155;
    color: white;
    border-radius: 5px;
}
.sign-in{
    width: 690px;
height: 467px;
gap: 24px;
margin-top: 150px;
margin-left: 80px;
}
.account h1{
    margin-left: 190px;
    margin-top: 50px;
}
.ID{
    width: 690px;
height: 20px;
opacity: 1;
border-radius: 8px;
padding: 16px;
border: 1px solid #94A3B8;
display: flex;
align-items: center;
margin-left: 10px;
}
.ID p{
    color: #94A3B8;
    margin-left: 10px;
}
input{
     width: 300px;
    border: none;
    outline: none;
    height: 30px;
    font-size: 15px;
}
.mask{
       -webkit-text-security: disc;  
}
.Password{
        width: 690px;
height: 20px;
opacity: 1;
border-radius: 8px;
padding: 16px;
border: 1px solid #94A3B8;
display: flex;
align-items: center;
margin-left: 10px;
}
.Password p{
color: #94A3B8;
margin-left: 10px;
}
.walk{
    display: flex;
}
.picture img{
    width: 628px;
height: 900px;
margin-left: 130px;

}
#btn-sign-in{
    width: 183px;
height: 48px;
opacity: 1;
border-radius: 8px;
gap: 6px;
padding-top: 10px;
padding-right: 24px;
padding-bottom: 10px;
padding-left: 24px;
color: white;
background-color:#020617;
justify-content: center;
display: flex;
align-items: center;
}
#img{
    width: 15px;
height: 15px;
}
.search{
    margin-top: 35px;
    margin-left: 10px;
}
.social-network{
    display: flex;
}
.facebook{
    width: 220px;
height: 50px;
opacity: 1;
border-radius: 8px;
border: 1px solid #B2B5C4;
display: flex;
align-items: center;
justify-content: center;
margin-left: 10px;
margin-top: 24px;
}
.facebook img{
    width: 98px;
height: 24px;
}
.google{
      width: 220px;
height: 50px;
opacity: 1;
border-radius: 8px;
border: 1px solid #B2B5C4;
display: flex;
align-items: center;
justify-content: center;
margin-left: 30px;
margin-top: 24px;
}
.google img{
     width: 98px;
height: 24px;
}
.Microsoft{
      width: 220px;
height: 50px;
opacity: 1;
border-radius: 8px;
border: 1px solid #B2B5C4;
display: flex;
align-items: center;
justify-content: center;
margin-left: 30px;
margin-top: 24px;
}
.Microsoft img{
    width: 98px;
height: 24px;
}